* {
  font-family: "Larsseit" "Noe Display";
  box-sizing: border-box;
}

.background__blok-img {
  width: 100%;
  max-width: 1920px;
  background: url(../Pucture/title-bakground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: 1px solid black;
  margin: auto;
}

.background__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 250px;
  padding-right: 263px;
}

.background__icons {
  width: 60px;
  height: 68px;
}
.background__icons-vector {
  width: 63px;
  height: 28px;
}
.background__icons-grup {
  display: flex;
  align-items: center;
  position: relative;
}
.background__serch-button {
  width: 167px;
  height: 62px;
  background-color: #00ffff;
  border-radius: 48px;
  box-shadow: 5px 15px 40px #00c9e033;
  border: none;
  font-family: Larsseit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.background__border {
  background: #ffffff;
  border-radius: 16px;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 31px;
  right: -10px;
}
.background_title {
  width: 100%;
  max-width: 1662px;
  margin-top: 139px;
  margin: auto;
}

.background__title-title {
  font-family: "Noe Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  max-width: 731px;
  font-size: 120px;
  line-height: 153px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
  margin: auto;
}
.background__title-text {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 900;
  width: 100%;
  max-width: 725px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 14px;
  text-align: center;
  margin: auto;
}
.background__title-string {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 629px;
  font-size: 17px;
  line-height: 150%;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}
.background__logo-grup {
  display: flex;
  justify-content: space-between;
  padding-left: 230px;
}
.background__logo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background__logo-border {
  width: 2px;
  height: 80px;
  background: linear-gradient(180deg, #09f4f4 0%, #00c9e0 100%);
  border-radius: 13px;
  order: 1;
  position: absolute;
  top: 68px;
  right: 7px;
}
@media screen and (max-width: 1024px), screen and (max-width: 992px) {
  .background__blok-img {
    padding: 15px;
  }
  .background__box {
    padding: 15px;
  }
}
