* {
  font-family: "Larsseit", "Noe Display";
  box-sizing: border-box;
}

.background__blok-img {
  width: 100%;
  max-width: 1920px;

  background: url(../Pucture/title-bakground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: auto;
}

.background__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1727px;
  margin: auto;
  padding-top: 124px;
}

.background__icons {
  width: 60px;
  height: 68px;
}
.background__icons-vector {
  width: 63px;
  height: 28px;
}
.background__icons-grup {
  display: flex;
  align-items: center;
  position: relative;
}
.background__serch-button {
  width: 167px;
  height: 62px;
  background-color: #00ffff;
  border-radius: 48px;
  box-shadow: 5px 15px 40px #00c9e033;
  border: none;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.background__border {
  background: #ffffff;
  border-radius: 16px;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 31px;
  right: -10px;
}
.background_title {
  width: 100%;
  max-width: 1662px;
  padding-top: 195px;
  margin: auto;
}

.background__title-title {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: 900;
  width: 100%;
  max-width: 731px;
  font-size: 120px;
  line-height: 153px;
  color: #ffffff;
  text-align: center;
  margin: auto;
}
.background__title-text {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 900;
  width: 100%;
  max-width: 725px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 14px;
  text-align: center;
  margin: auto;
}

.background__title-string {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 629px;
  font-size: 17px;
  line-height: 150%;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}
.background__logo-grup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1657px;
  margin: auto;
  padding-bottom: 68px;
  padding-top: 191px;
}
.background__logo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background__logo-border {
  width: 2px;
  height: 92px;
  background: linear-gradient(180deg, #09f4f4 0%, #00c9e0 100%);
  border-radius: 13px;
  position: absolute;
  top: 68px;
  right: 5px;
}

.background__img-grup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background__one-img {
  width: 20px;
  height: 20px;
  margin-top: 33px;
}
.background__two-img {
  width: 16px;
  height: 20px;
  margin-top: 12px;
}
.background__tree-img {
  width: 11px;
  height: 20px;
  margin-top: 12px;
}
.touristgoof__blok {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
  margin: auto;
}

.touristgoof__title-fons {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  color: #ffffff;
  text-align: center;
}

.touristgoof__text-fons {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 367px;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 16px;
}

.touristgoof__toswitch {
  width: 29px;
  height: 26px;
  margin: 34px 39px;
  padding: 1px;
  background-color: transparent;
  border: none;
}
.menu {
  width: 100%;
  max-width: 1868px;
}
.menu__blok {
  padding-top: 83px;
  padding-bottom: 37px;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1048px;
  margin: auto;
  margin-right: 350px;
}
.menu__button {
  width: 100%;
  max-width: 149px;
  border: none;
  background-color: #11ffee00;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin: 33px;
}
.menu__border {
  width: 100%;
  max-width: 1200px;
  height: 2px;
  background-color: cyan;
  margin: auto;
  margin-right: 230px;
}
ul .menu__button:hover {
  color: #41ead4;
}
.landscape__blok {
  width: 100%;
  max-width: 1896px;
}
.landscape__blok-grup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1025px;
  margin-top: 129px;
  margin: auto;
}

.landscape__blok-img {
  width: 486px;
  height: 607px;
  border-radius: 8px;
  margin: 9px 6px;
  padding: 1px;
}
.landscape__blok-border {
  position: relative;
}
.landscape__blok-border {
  background: #41ead4;
  border-radius: 16px;
  width: 175px;
  height: 2px;
  position: relative;
  bottom: 453px;
  right: 113px;
}
.landscape__border {
  background: #41ead4;
  border-radius: 16px;
  width: 14px;
  height: 2px;
  position: relative;
  bottom: 448px;
  right: 119px;
  transform: rotate(91deg);
}
.landscape__blok-text {
  width: 100%;
  max-width: 265px;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  position: relative;
  right: 120px;
  bottom: 411px;
}
.landscape__background-figure {
  position: absolute;
  color: #00ffff;
  bottom: 66px;
  right: 230px;
}
.landscape__title-string {
  margin-left: 50px;
  width: 100%;
  max-width: 479px;
}
.landscape__blok-title {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 193%;
  color: #ffffff;
}

.landscape__blok-string {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #ffffff;
}

.landscape__blok-stely {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #ffffff;
}

.landscape__blok-box {
  position: relative;
}
.landscape__controle-text {
  padding-bottom: 20px;
}
.landscape__blok-button {
  position: relative;
  bottom: 139px;
  left: 387px;
}
.landscape__button {
  background: #000000;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.landscape__button-fons {
  color: #ffffff;
  width: 282px;
  height: 65px;
  background: #00c9e0;
  border-radius: 183px;
  border: none;
  margin-top: 34px;
}
.landscape__button-lans {
  position: relative;
  left: 259px;
  bottom: 10px;
  width: 30px;
  height: 2px;
  background: #ffffff;
  border-radius: 16px;
}
.landscape__icons-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
  margin-right: 11px;
}

.landscape__text-fons {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
}

.landscape__icons-fons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 99px;
  margin: 5px 381px;
}
.landscape__icons-border {
  background: #41ead4;
  border-radius: 16px;
  width: 115px;
  height: 2px;
  position: relative;
  left: 375px;
}
.landscape__icons-border-two {
  background: #41ead4;
  border-radius: 16px;
  width: 30px;
  height: 2px;
  position: relative;
  left: 475px;
  bottom: 16px;
  transform: rotate(91deg);
}
.Audience__blok-grup {
  display: flex;
}
.Audience__box {
  width: 100%;
  max-width: 1200px;
}
.Audience__title {
  font-family: "Noe Display";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
  margin-left: 145px;
}
.Audience__text-title {
  width: 100%;
  max-width: 330px;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 310%;
  color: #ffffff;
  text-align: center;
  margin-left: 326px;
}

.Audience__title-text {
  width: 100%;
  max-width: 329px;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 9px;
  margin-left: 327px;
}
.Audience__string {
  width: 100%;
  max-width: 366px;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin: auto;
  margin-right: 138px;
}
.Audience__text {
  width: 100%;
  max-width: 366px;
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 330px;
}
.Audience__blok {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
}

.Audience__button-fons {
  color: #ffffff;
  width: 282px;
  height: 65px;
  background: #00c9e0;
  border-radius: 183px;
  border: none;
  margin-top: 34px;
  margin-left: 337px;
}
.Audience__button-lans {
  position: relative;
  left: 259px;
  bottom: 10px;
  width: 30px;
  height: 2px;
  background: #ffffff;
  border-radius: 16px;
}
.Audience__img {
  background: #c4c4c4;
}

@media screen and (max-width: 1024px), screen and(max-width:992px) {
  .background__blok-img {
    padding: 15px;
  }

  .background__box {
    padding: 15px;
  }
  .background__logo-grup {
    padding: 15px;
  }
}
